@import "../node_modules/mockingbird-sass/scss/mockingbird";
@import "../node_modules/mockingbird-sass/scss/config/variables";

$primary: #5c5ce6;
$light: #f5f5fa;
$border: #e6e6eb;
$dark: #000;

html, body {
	overflow: hidden;
}

main {
  display: flex;
}

section {
  width: 100%;
  height: 100vh;
}

.page-editor {
  background: $light;
  display: flex;
  flex-direction: column;

	header {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		padding: 1em 2rem;
		border-bottom: 1px solid $border;

		.icon-link {
			margin-left: 1em;
		}

		.link-back {
			margin-right: auto;
			margin-left: 0;
		}
	}

  .text-editor {
    background: transparent;
    border-radius: 0;
    border: none;
    outline: none;
    box-shadow: none;

    height: 100%;
    padding: 2em 2rem;
    overflow-y: auto;
		resize: none;
  }
}

.page-sidebar {
  background: $light;
  display: flex;
  flex-direction: column;
	max-width: 360px;

	footer {
		margin-top: auto;
		display: flex;
		align-items: center;
		padding: 1em 2rem;
		border-top: 1px solid $border;

		.icon-right {
			margin-left: auto;
		}
	}

	.file-tree {
		padding-top: 1em;
	}

	.file-item {
		position: relative;
		display: block;
		padding: 1em 2rem;
		font-weight: bold;
		color: rgba($dark, .75);
	  transition: .2s;

		p {
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
			max-width: 100%;
			margin: 0;
		}

		.material-icons {
			position: absolute;
			font-size: 2em;
			top: 50%;
			right: 1rem;
			transform: translateY(-50%);
			visibility: hidden;
		}

		&.active {
			background: $primary;
			color: #fff;
			padding-right: 3rem;

			.material-icons {
				visibility: visible;
			}
		}

		&:hover,
		&:focus {
			color: $dark;
			text-decoration: none;
			outline: none;

			&.active {
				background: darken($primary, 5%);
				color: #fff;
			}
		}
	}
}

.page-content {
  height: 100vh;
  overflow-y: auto;
  padding: 2em;
}

.icon-link {
  line-height: 1;
  color: rgba($dark, .75);
  transition: .2s;

  &:hover,
  &:focus {
    color: $dark;
  }

  i {
    font-size: 2em;
  }
}

h1, h2, h3, h4, h5, h6 {
  &:first-child {
    margin-top: 0;
  }
}
