@import "../node_modules/mockingbird-sass/scss/mockingbird";
@import "../node_modules/mockingbird-sass/scss/config/variables";

$primary: #5c5ce6;
$light: #f5f5fa;
$border: #e6e6eb;
$dark: #000;

$shadow12dp: 0 .5em 1.5em .125em rgba($dark, .15), 0 .25em .375em rgba($dark, .2);
$shadow24dp: 0 1em 1.5em .25em rgba($dark, .15), 0 .5em .75em rgba($dark, .2);

html, body {
	overflow: hidden;
}

main {
  display: flex;
}

section {
  width: 100%;
  height: 100vh;
}

.page-editor {
  background: $light;
  display: flex;
  flex-direction: column;

	header {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		padding: 1em 2rem;
		border-bottom: 1px solid $border;

		.icon-link {
			margin-left: 1em;
		}

		.link-back {
			margin-right: auto;
			margin-left: 0;
		}
	}

  .text-editor {
    background: transparent;
    border-radius: 0;
    border: none;
    outline: none;
    box-shadow: none;

    height: 100%;
    padding: 2em 2rem;
    overflow-y: auto;
		resize: none;
  }
}

.page-sidebar {
  background: $light;
  display: flex;
  flex-direction: column;
	max-width: 360px;

	footer {
		margin-top: auto;
		display: flex;
		align-items: center;
		padding: 1em 2rem;
		border-top: 1px solid $border;

		.icon-right {
			margin-left: auto;
		}
	}

	.file-tree {
		padding-top: 1em;
	}

	.file-item {
		position: relative;
		display: block;
		padding: 1em 2rem;
		font-weight: bold;
		color: rgba($dark, .75);
	  transition: .2s;

		p {
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
			max-width: 100%;
			margin: 0;
		}

		.material-icons {
			position: absolute;
			font-size: 2em;
			top: 50%;
			right: 1rem;
			transform: translateY(-50%);
			visibility: hidden;
		}

		&.active {
			background: $primary;
			color: #fff;
			padding-right: 3rem;

			.material-icons {
				visibility: visible;
			}
		}

		&:hover,
		&:focus {
			color: $dark;
			text-decoration: none;
			outline: none;

			&.active {
				background: darken($primary, 5%);
				color: #fff;
			}
		}
	}
}

.page-content {
  height: 100vh;
  overflow-y: auto;
  padding: 2em;
}

.page-menu {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 8;

	.icon-link {
		display: block;
		padding-top: 1rem;
		padding-right: .5rem;
		color: rgba($dark, .5);
	}

	.dropdown {
		position: absolute;
		top: 1rem;
		right: 1rem;
		background: #fff;
		box-shadow: $shadow12dp;
		padding: .5em 0;

		.item {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			white-space: nowrap;
			padding: .5em 1em;
			cursor: pointer;

			i.material-icons {
				color: rgba($dark, .625);
				font-size: 1.5em;
				display: inline;
				margin-right: .5em;
			}

			&:hover,
			&:focus {
				background: $light;

				i.material-icons {
					color: rgba($dark, .75);
				}
			}

			@extend .icon-link;
		}
	}
}

.icon-link {
  line-height: 0;
  color: rgba($dark, .75);
  transition: .2s;
	text-decoration: none;

  &:hover,
  &:focus {
    color: $dark;
  }

  i {
    font-size: 2em;
  }
}

h1, h2, h3, h4, h5, h6 {
  &:first-child {
    margin-top: 0;
  }
}

.modal-container {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 1em;

	.modal-bg {
		background: rgba($dark, .5);
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}

	.modal {
		position: relative;
		background: #fff;
		max-width: 960px;
		min-width: 50vw;
		z-index: 10;
		box-shadow: $shadow24dp;
	}

	.modal-body {
		padding: 2em 2rem;
		padding-bottom: 0;
	}

	footer {
		display: flex;
		justify-content: flex-end;
		padding: 1em 1rem;
		padding-right: 1rem;
	}

	.modal-title {
		margin-bottom: .5em;
	}
}

.button {
	font-weight: 500;
	border: none;
	border-radius: 0;
	padding: .75em 1.75em !important;
	transition: .2s ease;
}

.cta-button {
	background: $primary;
	color: #fff !important;

	&:hover,
	&:focus {
		background: darken($primary, 5%);
	}
}

.ghost-button {
	color: $primary !important;

	&:hover,
	&:focus {
		background: rgba($dark, .05);
	}
}

.custom-input {
	width: 100%;
	font-size: 1rem !important;
	background: transparent;
	border: none !important;
	border-radius: 0 !important;
	border-bottom: 3px solid rgba($dark, .5) !important;
	padding: .5em 0 !important;
	transition: .2s ease;

	&:hover {
		border-bottom-color: rgba($dark, .75) !important;
	}

	&:active,
	&:focus {
		border-bottom-color: $primary !important;
		box-shadow: none !important;
	}
}

.floating-label {
	position: relative;
	display: block;

	input {
		padding-top: 1.15rem !important;

		&::placeholder {
			opacity: 1;
			transition: .2s ease;
		}

		&:placeholder-shown:not(:focus)::placeholder {
			opacity: 0;
		}

		&:placeholder-shown:not(:focus) + label {
			color: rgba($dark, .5);
			font-size: 1rem;
			top: 1.15em;
		}
	}

	label {
		position: absolute;
		left: 0;
		top: 0;
		cursor: text;
		font-size: .75em;
		color: $primary;
		margin: 0;
		pointer-events: none;
		transition: .2s ease;
	}
}

.link {
	color: $primary;

	&:hover,
	&:focus {
		color: darken($primary, 5%);
	}
}

.files-list {
	border-bottom: 1px solid $border;

	.list-item {
		display: flex;
		color: rgba($dark, .75);
		font-weight: 500;
		text-decoration: none;
		transition: .2s ease;
		padding: .5em;

		i.material-icons {
			color: rgba($dark, .625);
			font-size: 1.5em;
			margin-left: auto;
		}

		&:hover,
		&:focus {
			background: $light;
			color: $dark;

			i.material-icons {
				color: rgba($dark, .75);
			}
		}
	}
}

// deprecated
.mb-right {
	margin-right: 1em;
}
